@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a student project created by Marcus Quitiquit and Jacques Antoine Vidjanagni only</p>
<p>This is can only be seen by George Brown College professors and the two students that developed this flight project</p>